{% extends "portalTransaccional/basePortalTransaccional.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listaDepositosInscritos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/editarDepositosInscritos.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
{{ super() }}
{% endblock %}

{% block content %}

<div class="contenedor">
    <div>
        <div class="divForm">
            <form action="{{ url_for('zonaTransaccional.procesoEdicionDepositoElectronico') }}" method="POST"
                enctype="multipart/form-data">

                <h5>EDITAR UN DEPOSITO ELECTRONICO</h5>
                <br>

                {{ form.hidden_tag() }}

                <div>
                    <label class="form-label" for="ccnDepositoInscrito">Codigo Deposito Inscrito</label>
                    <input class="form-control form-control-sm" type="number" name="ccnDepositoInscrito" id="ccnDepositoInscrito" 
                    value="{{ editarDeposito.ccnDepositosInscritos }}" readonly>
                </div>
                <br>
                <div>
                    {{ form.tipoDeposito.label() }}
                    {{ form.tipoDeposito(class="form-control form-control-sm") }}
                </div>
                <br>
                <div>
                    {{ form.depositoElectronico.label() }}
                    {{ form.depositoElectronico(class="form-control form-control-sm", value=editarDeposito.depositoElectronico) }}
                    {% for error in form.depositoElectronico.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <br>
                <div>
                    {{ form.nombrePersonalizado.label() }}
                    {{ form.nombrePersonalizado(class="form-control form-control-sm", value=editarDeposito.nombrePersonalizado)}}
                    {% for error in form.nombrePersonalizado.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <br>
                <div>
                    {{ form.tipoId.label() }}
                    {{ form.tipoId(class="form-control form-control-sm", value=editarDeposito.tipoDeposito) }}
                    {% for error in form.tipoId.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <br>
                <div>
                    {{ form.numeroIdCliente.label() }}
                    {{ form.numeroIdCliente(class="form-control form-control-sm", value=editarDeposito.numeroIdCliente) }}
                    {% for error in form.numeroIdCliente.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <br>
                <div>
                    {{form.inscribirDeposito(class="btn btn-success")}}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}