{% extends "portalTransaccional/basePortalTransaccional.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/homePortalTransaccional.css') }}">
{{ super() }}
{% endblock %}

{% block content %}

<div class="contenedor">
    <div class="card w-100">
        <div class="card-header">
            Saldo por producto
        </div>
        <div class="card-body">
            <table id="tablaSaldoDeposito" class="table table-hover">
                <thead>
                    <tr>
                        <th>Deposito Electronico</th>
                        <th>Tipo de Deposito</th>
                        <th>Saldo Disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ depositoActivo.depositoElectronico }}</td>
                        <td>{{ depositoActivo.tipoDeposito }}</td>
                        <td>{{ depositoActivo.saldoDeposito }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}