{% extends "portalTransaccional/basePortalTransaccional.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listaDepositosInscritos.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">


{{ super() }}
{% endblock %}

{% block content %}
<div>
    <div class="row" style="padding:20px;">
        <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crear">
                Agregar
            </button>
            <br>
            <br>
            <table id="tablaDepositosInscritos" class="table table-hover">
                <thead>
                    <tr>
                        <th>ccn</th>
                        <th>tipoDeposito</th>
                        <th>depositoElectronico</th>
                        <th>nombrePersonalizado</th>
                        <th>tipoId</th>
                        <th>numeroIdCliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in depInscrito %}<tr>
                        <td>{{ i.ccnDepositosInscritos }}</td>
                        <td>{{ i.tipoDeposito }}</td>
                        <td>{{ i.depositoElectronico }}</td>
                        <td>{{ i.nombrePersonalizado }}</td>
                        <td>{{ i.tipoId }}</td>
                        <td>{{ i.numeroIdCliente }}</td>
                        <td>
                            <a class="btn btn-secondary" href="/portalTransaccional/editarDepositoInscrito/{{ i.ccnDepositosInscritos }}">
                                Editar
                            </a> |
                            <a class="btn btn-danger" href="/portalTransaccional/eliminarDepositoInscrito/{{ i.ccnDepositosInscritos }}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
    var table = $('#tablaDepositosInscritos').DataTable( {
        lengthChange: true,
        responsive: true,
        buttons: [ 'excel','colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#tablaDepositosInscritos_wrapper .col-md-6:eq(0)' );
} );
</script>


<!-- Modal Crear -->
<div class="modal fade" id="crear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearLabel">INSCRIBE UN DEPOSITO ELECTRONICO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('zonaTransaccional.inscribirDepositosElectronicos') }}" method="POST"
                    enctype="multipart/form-data">

                    {{ form.hidden_tag() }}

                    <div>
                        {{ form.tipoDeposito.label() }}
                        {{ form.tipoDeposito(class="form-control form-control-sm") }}
                        {% for error in form.tipoDeposito.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        {{ form.depositoElectronico.label() }}
                        {{ form.depositoElectronico(class="form-control form-control-sm") }}
                        {% for error in form.depositoElectronico.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        {{ form.nombrePersonalizado.label() }}
                        {{ form.nombrePersonalizado(class="form-control form-control-sm") }}
                        {% for error in form.nombrePersonalizado.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        {{ form.tipoId.label() }}
                        {{ form.tipoId(class="form-control form-control-sm") }}
                        {% for error in form.tipoId.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        {{ form.numeroIdCliente.label() }}
                        {{ form.numeroIdCliente(class="form-control form-control-sm") }}
                        {% for error in form.numeroIdCliente.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        {{form.inscribirDeposito(class="btn btn-success")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}