{% extends "portalTransaccional/basePortalTransaccional.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/productos.css') }}">
{{ super() }}
{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    DETS
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deposito Electronico de Tramite Simplificado</h5>
                    <p class="card-text">Acceda a serficios financieros de una manera agil libre de barreras
                        relacionados con tramites engorrosos.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Dets">
                        Mas Informacion
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Dets">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DETS</h5>
                            <button type="button" class="btn-Cerrar" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci dolor quidem atque
                                veniam. Ut ipsa at, nesciunt dolore doloribus veniam aliquam cumque iste, amet expedita
                                consequuntur dolorem consectetur dolor!</p>
                            <form action="/portalTransaccional/eleccionProducto" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="mb-3">
                                    <label class="form-label" for="depositoElectronico">Numero de Cuenta</label>
                                    <input class="form-control form-control-sm" type="number" name="depositoElectronico"
                                        id="depositoElectronico" value="{{ cliente[1] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="codigoCuenta">Cuenta Contable</label>
                                    <input class="form-control form-control-sm" type="number" name="codigoCuenta"
                                        id="codigoCuenta" value="21300501" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ccnCliente">Codigo Cliente</label>
                                    <input class="form-control form-control-sm" type="number" name="ccnCliente"
                                        id="ccnCliente" value="{{ cliente[0] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="cuantiaMaxDeposito">Valor Maximo Movimiento
                                        Mensual</label>
                                    <input class="form-control form-control-sm" type="number" name="cuantiaMaxDeposito"
                                        id="cuantiaMaxDeposito" value="2725578" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="claseTasaInteres">Clase Tasa Liquidacion</label>
                                    <input class="form-control form-control-sm" type="text" name="claseTasaInteres"
                                        id="claseTasaInteres" value="V" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tasaInteres">Tasa Interes Reconocida</label>
                                    <input class="form-control form-control-sm" type="number" name="tasaInteres"
                                        id="tasaInteres" value="0.01" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="frecLiqIntereses">Frecuencia Liquidacion
                                        Interes</label>
                                    <input class="form-control form-control-sm" type="text" name="frecLiqIntereses"
                                        id="frecLiqIntereses" value="M" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tipoDeposito">Tipo Producto</label>
                                    <input class="form-control form-control-sm" type="text" name="tipoDeposito"
                                        id="tipoDeposito" value="DETS" readonly>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success"
                                        value="Seleccionar DETS">Seleccionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    DECSE
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deposito Electronico para Canalizar Subsidios Estatales</h5>
                    <p class="card-text">Permite recibir recibir recursos derivados de programas estatales de una manera
                        facil y rapida.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Decse">
                        Mas Informacion
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Decse">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DECSE</h5>
                            <button type="button" class="btn-Cerrar" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci dolor quidem atque
                                veniam. Ut ipsa at, nesciunt dolore doloribus veniam aliquam cumque iste, amet expedita
                                consequuntur dolorem consectetur dolor!</p>
                            <form action="/portalTransaccional/eleccionProducto" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="mb-3">
                                    <label class="form-label" for="depositoElectronico">Numero de Cuenta</label>
                                    <input class="form-control form-control-sm" type="number" name="depositoElectronico"
                                        id="depositoElectronico" value="{{ cliente[1] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="codigoCuenta">Cuenta Contable</label>
                                    <input class="form-control form-control-sm" type="number" name="codigoCuenta"
                                        id="codigoCuenta" value="21300502" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ccnCliente">Codigo Cliente</label>
                                    <input class="form-control form-control-sm" type="number" name="ccnCliente"
                                        id="ccnCliente" value="{{ cliente[0] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="cuantiaMaxDeposito">Valor Maximo Movimiento
                                        Mensual</label>
                                    <input class="form-control form-control-sm" type="number" name="cuantiaMaxDeposito"
                                        id="cuantiaMaxDeposito" value="2725578" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="claseTasaInteres">Clase Tasa Liquidacion</label>
                                    <input class="form-control form-control-sm" type="text" name="claseTasaInteres"
                                        id="claseTasaInteres" value="V" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tasaInteres">Tasa Interes Reconocida</label>
                                    <input class="form-control form-control-sm" type="number" name="tasaInteres"
                                        id="tasaInteres" value="0.02" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="frecLiqIntereses">Frecuencia Liquidacion
                                        Interes</label>
                                    <input class="form-control form-control-sm" type="text" name="frecLiqIntereses"
                                        id="frecLiqIntereses" value="M" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tipoDeposito">Tipo Producto</label>
                                    <input class="form-control form-control-sm" type="text" name="tipoDeposito"
                                        id="tipoDeposito" value="DECSE" readonly>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success"
                                        value="Seleccionar DETS">Seleccionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    DETO
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deposito Electronico de Tramite Ordinario</h5>
                    <p class="card-text">Una vez cumpla las condiciones establecidas por la ley acorde a los topes de
                        manejo de dinero en un Dets, debera surtir el tramite de afiliacion segun politicas de
                        conocimiento de cliente de la entidad.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Deto">
                        Mas Informacion
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Deto">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DETO</h5>
                            <button type="button" class="btn-Cerrar" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci dolor quidem atque
                                veniam. Ut ipsa at, nesciunt dolore doloribus veniam aliquam cumque iste, amet expedita
                                consequuntur dolorem consectetur dolor!</p>
                            <form action="/portalTransaccional/eleccionProducto" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="mb-3">
                                    <label class="form-label" for="depositoElectronico">Numero de Cuenta</label>
                                    <input class="form-control form-control-sm" type="number" name="depositoElectronico"
                                        id="depositoElectronico" value="{{ cliente[1] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="codigoCuenta">Cuenta Contable</label>
                                    <input class="form-control form-control-sm" type="number" name="codigoCuenta"
                                        id="codigoCuenta" value="21300503" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ccnCliente">Codigo Cliente</label>
                                    <input class="form-control form-control-sm" type="number" name="ccnCliente"
                                        id="ccnCliente" value="{{ cliente[0] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="cuantiaMaxDeposito">Valor Maximo Movimiento
                                        Mensual</label>
                                    <input class="form-control form-control-sm" type="number" name="cuantiaMaxDeposito"
                                        id="cuantiaMaxDeposito" value="2725578" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="claseTasaInteres">Clase Tasa Liquidacion</label>
                                    <input class="form-control form-control-sm" type="text" name="claseTasaInteres"
                                        id="claseTasaInteres" value="V" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tasaInteres">Tasa Interes Reconocida</label>
                                    <input class="form-control form-control-sm" type="number" name="tasaInteres"
                                        id="tasaInteres" value="0.03" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="frecLiqIntereses">Frecuencia Liquidacion
                                        Interes</label>
                                    <input class="form-control form-control-sm" type="text" name="frecLiqIntereses"
                                        id="frecLiqIntereses" value="M" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tipoDeposito">Tipo Producto</label>
                                    <input class="form-control form-control-sm" type="text" name="tipoDeposito"
                                        id="tipoDeposito" value="DETO" readonly>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success"
                                        value="Seleccionar DETS">Seleccionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    DETTS
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deposito Electronico Transaccional de Tramite Simplificado</h5>
                    <p class="card-text">Diseñado para pequeños negocios que les permite recibir pagos digitales de sus
                        clientes hasta un tope maximo definido por la ley de una manera agil libre de barreras
                        relacionados con tramites engorrosos.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Detts">
                        Mas Informacion
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Detts">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DETTS</h5>
                            <button type="button" class="btn-Cerrar" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci dolor quidem atque
                                veniam. Ut ipsa at, nesciunt dolore doloribus veniam aliquam cumque iste, amet expedita
                                consequuntur dolorem consectetur dolor!</p>
                            <form action="/portalTransaccional/eleccionProducto" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="mb-3">
                                    <label class="form-label" for="depositoElectronico">Numero de Cuenta</label>
                                    <input class="form-control form-control-sm" type="number" name="depositoElectronico"
                                        id="depositoElectronico" value="{{ cliente[1] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="codigoCuenta">Cuenta Contable</label>
                                    <input class="form-control form-control-sm" type="number" name="codigoCuenta"
                                        id="codigoCuenta" value="21300504" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ccnCliente">Codigo Cliente</label>
                                    <input class="form-control form-control-sm" type="number" name="ccnCliente"
                                        id="ccnCliente" value="{{ cliente[0] }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="cuantiaMaxDeposito">Valor Maximo Movimiento
                                        Mensual</label>
                                    <input class="form-control form-control-sm" type="number" name="cuantiaMaxDeposito"
                                        id="cuantiaMaxDeposito" value="2725578" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="claseTasaInteres">Clase Tasa Liquidacion</label>
                                    <input class="form-control form-control-sm" type="text" name="claseTasaInteres"
                                        id="claseTasaInteres" value="V" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tasaInteres">Tasa Interes Reconocida</label>
                                    <input class="form-control form-control-sm" type="number" name="tasaInteres"
                                        id="tasaInteres" value="0.04" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="frecLiqIntereses">Frecuencia Liquidacion
                                        Interes</label>
                                    <input class="form-control form-control-sm" type="text" name="frecLiqIntereses"
                                        id="frecLiqIntereses" value="M" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="tipoDeposito">Tipo Producto</label>
                                    <input class="form-control form-control-sm" type="text" name="tipoDeposito"
                                        id="tipoDeposito" value="DETTS" readonly>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success"
                                        value="Seleccionar DETS">Seleccionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    DETTO
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deposito Electronico Transaccional de Tramite Ordinario</h5>
                    <p class="card-text">Diseñado para pequeños negocios, permite recibir pagos digitales de sus
                        clientes sin ningun tope de una manera agil.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Detto">
                        Mas Informacion
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="Detto">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">DETTO</h5>
                        <button type="button" class="btn-Cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci dolor quidem atque
                            veniam. Ut ipsa at, nesciunt dolore doloribus veniam aliquam cumque iste, amet expedita
                            consequuntur dolorem consectetur dolor!</p>
                        <form action="/portalTransaccional/eleccionProducto" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="mb-3">
                                <label class="form-label" for="depositoElectronico">Numero de Cuenta</label>
                                <input class="form-control form-control-sm" type="number" name="depositoElectronico"
                                    id="depositoElectronico" value="{{ cliente[1] }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="codigoCuenta">Cuenta Contable</label>
                                <input class="form-control form-control-sm" type="number" name="codigoCuenta"
                                    id="codigoCuenta" value="21300505" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ccnCliente">Codigo Cliente</label>
                                <input class="form-control form-control-sm" type="number" name="ccnCliente"
                                    id="ccnCliente" value="{{ cliente[0] }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="cuantiaMaxDeposito">Valor Maximo Movimiento
                                    Mensual</label>
                                <input class="form-control form-control-sm" type="number" name="cuantiaMaxDeposito"
                                    id="cuantiaMaxDeposito" value="2725578" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="claseTasaInteres">Clase Tasa Liquidacion</label>
                                <input class="form-control form-control-sm" type="text" name="claseTasaInteres"
                                    id="claseTasaInteres" value="V" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="tasaInteres">Tasa Interes Reconocida</label>
                                <input class="form-control form-control-sm" type="number" name="tasaInteres"
                                    id="tasaInteres" value="0.05" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="frecLiqIntereses">Frecuencia Liquidacion Interes</label>
                                <input class="form-control form-control-sm" type="text" name="frecLiqIntereses"
                                    id="frecLiqIntereses" value="M" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="tipoDeposito">Tipo Producto</label>
                                <input class="form-control form-control-sm" type="text" name="tipoDeposito"
                                    id="tipoDeposito" value="DETTO" readonly>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-success"
                                    value="Seleccionar DETS">Seleccionar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}