.divForm{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    height: 500px;
    width: 500px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}