body {
    background: url(../imgs/working-at-night.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.formRegistro__contenedor {
    width: 100%;
    padding: 15px;
}

.formRegistro {
    background: #fff;
    opacity: 0.2;
    margin-top: 150px;
}


