<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DETS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/LogoSEDPE-transparent.png.png') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
  <div class="imagen-portada">
    <h2>DETS</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicin</p>
  </div>
  <header class="navegador">
    <div class="logo">
      <a href="/"><img src="../static/imgs/LogoSEDPE-transparent.png.png"></a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Productos</a></li>
        <li><a href="/">Comerciantes</a></li>
        <li><a href="loginCliente">Ingreso Personas</a></li>
      </ul>
    </nav>
  </header>

  <section class="contenedor1">
    <div>
      <div class="grid">
        <div class="textos-sistema">
          <h2>EL SISTEMA FINANCIERO A UN CLICK</h2>
          <p><strong>DETS</strong> transforma tus ahorros y pagos por diferentes conceptos sin ningun costo
            y de manera instantanea para que los uses facilmente y disfrutes tu tiempo como tu quieras</p>
        </div>
        <div class="imagen-section1">
          <img src="../static/imgs/pagina-web.png">
        </div>
        <div>
  </section>
  </div>
  <div class="textos-sistema2">
  </div>
  <main>
    <section class="tarjetas">
      <div class="grid">
        <div class="items">
          <div class="primera-parte">
            <h1><strong>¿COMO FUNCIONA TU DEPOSITO?</strong></h1>
            <p>DETS es mas que un deposito electronico, es la puerta de entrada al sistema financiero y la posibilidad
              de
              automatizar muchos de tus pagos</p>
          </div>
          <div class="item">
            <img src="../static/imgs/icon/icons8-cuenta-de-correo-64.png"></img>
            <h3>1.Crea tue cuenta</h3>
            <p>Ingresa a nuestro portal web, registrate y abre tu deposito electronico en pocos minutos</p>
            <div class="main-button">
              <a href="#">conoce mas</a>
            </div>
          </div>

          <div class="item">
            <img src="../static/imgs/icon/icons8-solicitud-de-dinero-64.png">
            <h3>2.Deposita</h3>
            <p>Una vez registrado ingresa a su portal transaccional web y realiza un deposito a travez de PSE</p>
            <div class="intermi-button">
              <a href="#">conoce mas</a>
            </div>
          </div>

          <div class="item">
            <img src="../static/imgs/icon/icons8-pago-con-el-móvil-64.png">
            <h3>3.Paga o Transfiere</h3>
            <p>Desde su portal transaccional web podra realizar pagos a comercios y servicios afiliados o transfiere
              recursos
              a otros depositos electronicos</p>
            <div class="ultimate-button">
              <a href="#">conoce mas</a>
            </div>
          </div>
        </div>
    </section>
  </main>
  <div class="titulo-depositos">
    <div class="grid">
      <h2>SUS DEPOSITOS ELECTRONICOS SE ENCUENTRAN SEGUROS</h2>
    </div>
  </div>
  <div class="contenedor2">
    <div class="grid">
      <div class="parrafo-1">
        <img src="../static/imgs/super.int-removebg-preview.png">
        <p>En DETS tu tranquilidad es nuestro prioridad por esto somos una entidad financiera vigilada por la
          Superintendencia Financiera de Colombia</p>
        <a href="#">conoce mas</a>
      </div>

      <div class="parrafo-2">
        <img src="../static/imgs/Fogafin-removebg-preview.png">
        <p>Al ser una entidad financiera el gobierno de Colombia a través de fofafin, asegura tu deposito DETS por hasta
          $50.000.000</p>
        <a href="#">conoce mas</a>
      </div>
    </div>
  </div>
  <section class="contenedor3">
    <div class="grid">
      <div class="medio-amb">
        <!--<img src="../static/imgs/medio-ambiente.jpg">-->

        <h2>NO SOLO AHORRAS TIEMPO, TAMBIEN PONES TU GRANITO DE ARENA AL MEDIO AMBIENTE</h2>

        <div>
          <p>Al ahorrar mediante depositos de dinero electronico estas poniendo tu granito de arena
            contra el cambio climatico, Los contratos, reportes y tramites se hacen de manera digital asi estas
            reduciendo la huella del uso del papel y ayudas a reducir la tala de los arboles que la componen</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contenedor4">
    <footer>
      <div class="grid">
        <div class="textos-footer">
          <h2>DETS TE ACOMPAÑA A CREAR TU HISTORIAL CREDITICIO</h2>
          <p>DETS permite que por medio del movimiento que se genere del uso de tu deposito electronico
            crear un historico crediticio que puede darte acceso a productos financieros tales como creditos.</p>
          <a href="#"><img src="../static/imgs/icon/icons8-facebook-50.png"></a>
          <a href="#"><img src="../static/imgs/icon/icons8-github-50.png"></a>
          <a href="#"><img src="../static/imgs/icon/icons8-instagram-50.png"></a>
          <a href="https://www.linkedin.com/in/ruizdev7" target="_blank"><img
              src="../static/imgs/icon/icons8-linkedin-50.png"></a>
        </div>
        <div class="enlaces-footer">
          <ul>
            <li> <a href="#">Politicas de uso y proteccion de datos</a></li>
            <li> <a href="#">Terminos y condiciones generales</a></li>
            <li> <a href="#">Contrato de Depositos ElectronicosDETS</a></li>
            <li> <a href="#">Defensor del consumidor financiero</a></li>
          </ul>
        </div>
        <div class="s2-enlaces">
            <ul>
              <li> <a href="#">Educacion Financiera</a></li>
              <li> <a href="#">Certificacion SARLAFT</a></li>
              <li> <a href="#">Tarifas de servicios</a></li>
              <li> <a href="#">Gobierno Corporativo</a></li>
            </ul>
          </div>
        <section class="imagenFooter">
          <img src="../static/imgs/fofafin.png">
          <img src="../static/imgs/sfc.jpg">
        </section>
      </div>
    </footer>
  </section>
  <div class="titulo-final-d">
    <h2 class="titulo-final">&copy; Jdso Desing | DETS 2021, DERECHOS RESERVADOS</h2>
  </div>
</body>

</html>