<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DETS</title>
  </head>
  <body>
      <nav>
          <img src="static/LogoSEDPE.PNG">
          <a href="/">Inicio</a> |
          <a href="/">Productos</a> |
          <a href="/">Comerciantes</a> |
          <a href="/">Ayuda</a> |
          <a href="/">Ingreso Personas</a>
      </nav>

      <h2>EL SISTEMA FINANCIERO A UN CLICK</h2>
      <p><strong>DETS</strong> transforma tus ahorros y pagos por diferentes conceptos sin ningun costo
      y de manera instantanea para que los uses facilmente y disfrutes tu tiempo como tu quieras</p>
     <div>
         <h1><strong>COMO FUNCIONA TU DEPOSITO</strong></h1>
         <p>DETS es mas que un deposito electronico, es la puerta de entrada al sistema financiero y la posibilidad de automatizar muchos de tus pagos</p>
        
     </div>           
        
    <div>
        
    </div>



  </body>
</html>
