<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DETS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/normalize.css">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/LogoSEDPE-transparent.png.png') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
  <div class="imagen-portada">
    <h2>DETS</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicin</p>
  </div>
  <header class="navegador">
    <div class="logo">
      <a href="/"><img src="../static/imgs/LogoSEDPE-transparent.png.png"></a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="productosPage.html">Productos</a></li>
        <li><a href="/">Comerciantes</a></li>
        <li><a href="loginCliente">Ingreso Personas</a></li>
      </ul>
    </nav>
  </header>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card text-end" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <section class="contenedor4">
    <footer>
      <div class="grid">
        <div class="textos-footer">
          <h2>DETS TE ACOMPAÑA A CREAR TU HISTORIAL CREDITICIO</h2>
          <p>DETS permite que por medio del movimiento que se genere del uso de tu deposito electronico
            crear un historico crediticio que puede darte acceso a productos financieros tales como creditos.</p>
          <a href="#"><img src="../static/imgs/icon/icons8-facebook-50.png"></a>
          <a href="#"><img src="../static/imgs/icon/icons8-github-50.png"></a>
          <a href="#"><img src="../static/imgs/icon/icons8-instagram-50.png"></a>
          <a href="https://www.linkedin.com/in/ruizdev7" target="_blank"><img
              src="../static/imgs/icon/icons8-linkedin-50.png"></a>
        </div>
        <div class="enlaces-footer">
          <ul>
            <li> <a href="#">Politicas de uso y proteccion de datos</a></li>
            <li> <a href="#">Terminos y condiciones generales</a></li>
            <li> <a href="#">Contrato de Depositos ElectronicosDETS</a></li>
            <li> <a href="#">Defensor del consumidor financiero</a></li>
          </ul>
        </div>
        <div class="s2-enlaces">
          <ul>
            <li> <a href="#">Educacion Financiera</a></li>
            <li> <a href="#">Certificacion SARLAFT</a></li>
            <li> <a href="#">Tarifas de servicios</a></li>
            <li> <a href="#">Gobierno Corporativo</a></li>
          </ul>
        </div>
        <section class="imagenFooter">
          <img src="../static/imgs/fofafin.png">
          <img src="../static/imgs/sfc.jpg">
        </section>
      </div>
    </footer>
  </section>
  <div class="titulo-final-d">
    <h2 class="titulo-final">&copy; Jdso Desing | DETS 2021, DERECHOS RESERVADOS</h2>
  </div>
</body>

</html>